* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #fff9f9;
}

header {
    text-align: center;
    background-color: #000000;
    color: white;
    margin-bottom: 50px;
}
.Title_nav{
    color : black;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
}

nav ul{
    list-style-type: none;
}

.deroulant_Main{
    margin-left : 3em;
    margin-right: 3em;
    margin-top: 1em;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.deroulant_Second{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    z-index: 1000;
}
nav > ul li:hover .deroulant_Second{
    display: block;
}
.deroulant_Second li{
    float: none;
    width: 100%;
    text-align: left;
}
.deroulant_Second a{
    padding: 10px;
    border-bottom: none;
}
.deroulant_Second a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant_Main > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

.Main_page{
    padding: 20px;
}

.profile{
    position: relative;
    align-self: right;

}
.Profile_picture{
    padding : 5px;
}

h1 {
    font-size: 2em;
    padding: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    color: white;
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.test {
    list-style: none;
    padding-left: 20px;
}

.testli {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
}


tr:nth-child(even) {
    color: white;
}

.left-space {
    margin-left: 3em;
}

