* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-image: url(Image/fond.png);
    background-size: cover;
    background-position: top;
    height: 100%;
}

img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: #000000;
    color: white;
    display: relative;
}

.Title_nav {
    color: black;
}

.logo_container {
    width: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin-bottom: 1em;
    margin-left: 1em;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 0;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}

nav ul::after {
    display: table;
    clear: both;
}

.link_logo {
    padding: 0px 0px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 15px 0px;
    text-align: center;
}

nav a:hover {
    color: lightblue;
    border-bottom: 2px solid lightblue;
}

.deroulant_Second {
    display: none;
    background-color: rgba(29, 29, 33, 0.9);
    position: absolute;
    z-index: 1000;
}

nav>ul li:hover .deroulant_Second {
    display: block;
}

.deroulant_Second li {
    text-align: center;
    width: 100%;
}

.deroulant_Second a {
    padding: 10px;
    border-bottom: none;
}

.deroulant_Second a:hover {
    border-bottom: none;
    background-color: RGBa(45, 45, 45, 1);
}

.deroulant_Main>a::after {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2em;
    padding: 0.5em;
}

section {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.Create {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 25px rgb(192, 187, 187);

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title_form {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    color: #000000;
    font-style: normal;
    padding-top: 24px;
}

.bo {
    background-color: rgb(255, 255, 255);
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.text_form {
    font-size: 20px;
    padding-top: 32px;
    letter-spacing: 0.002em;
}

input {
    margin-bottom: 12px;
    margin-top: 3px;
    border: none;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(208, 208, 208);
    padding: 31px 8px 15px;
    width: 100%;
    content: "Username";
}

input :hover {
    border-bottom: rgb(151, 151, 151);
}

span {
    opacity: 0;
}

label {
    opacity: 1;
    position: relative;
    top: -75px;
    left: 8px;
    font-size: 14px;
    color: #000;
}

.button {
    background-color: rgba(208, 208, 208);
    border-radius: 5px;
    border: rgb(208, 208, 208);
    padding: 10px;
    width: 100%;
    margin-left: 50px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    align-items: center;
    margin: 10px;
}

.choice_game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 12px;
    margin-top: 3px;
}

p {
    color: #000000;
    font-size: 14px;
}

.Button_create_user {
    text-decoration: none;
}