* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color-scheme: dark;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #333333;
    background-color: #0d1117;
}

header {
    text-align: center;
    background-color: #000000;
    color: #616161;
}
.Title_nav{
    color : black;
}

.logo_site{
    width: 25%;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    display: flex;
}

nav ul{
    list-style-type: none;
}

.deroulant_Main{
    margin-left : 3em;
    margin-top: 1em;
    cursor:none;
}

nav ul li{
    float: left;
    content: none;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color:#e7e7e7;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.deroulant_Second{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1000;
}
nav > ul li:hover .deroulant_Second{
    display: block;
}
.deroulant_Second li{
    float: none;
    width: 100%;
    text-align: left;
}
.deroulant_Second a{
    padding: 10px;
    border-bottom: none;
}
.deroulant_Second a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant_Main > a::after{
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
  justify-content:first baseline;
  align-items: baseline;
}

section{
    display: block;
    unicode-range: isolate;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Box_section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: #f0f6fc;    
}

.sub_Title{
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.information{
    font-size: 16px;
    padding: 25px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;

}

.img_button{
    height: 35px;
}

.Menu_info {
    display: flex;
    align-items: center;
}

.button {
    margin-left: auto;
}

.tab_item{
    display: flex;
}

.item{
    margin: auto;
    align-self: center;
}

.text_form{
    display: flex;
}

.arena_text{
    margin: auto;
    align-self: center;
}

.text_form_bio{
    min-height: 900px;
}

input{
    background-color: #0d1117;
    color: #f0f6fc;
    border-color: #f0f6fc;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    align-self: center;
    text-justify: center;
    text-align: 5px;
    margin:5px
}

input:hover{
    background-color: #0d1117;
    color: #f0f6fc;
    border-color: #9f4848;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    align-self: center;
    text-justify: center;
    text-align: 5px;
}
