* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align:justify;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: white;
}

.Tab_game_select{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.popup {
    z-index: 100;
    align-items: center;
    background-color: black, 0.5;
}
